<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="jquery-ui.min.js"></script>
  <script type="text/javascript" src="src/rouletteWheel.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
  <script type="text/javascript">
    var items = <%- JSON.stringify(items) %>;
    $(function(){
      $('#canvas').rouletteWheel({
        items : items,
        selected : function(key, value){
          alert('SELECTED : ' + key + ' => ' + value);
        },
        spinText : 'Click Me',
      });
    });
    var output_url = function() {
      $("#url-text").val(location.protocol+'//'+location.host+'/?items='+items);
    }
  </script>
  <style>
    form { padding: 10px }
    .url { padding: 10px }
  </style>

  <title></title>
</head>
<body>
  <form class="form-inline" id="form-command" action="">
    <input class="form-control" id="command" autocomplete="off" placeholder="imput item"/>
    <button type="submit" class="btn btn-default">項目追加</button>
  </form>

  <form class="form-inline" id="form-room" action="">
    <input class="form-control" id="init" autocomplete="off" placeholder="coming soon"/>
    <button type="submit" class="btn btn-default">部屋追加</button>
  </form>

  <div class="url">
    <label>URL</label>
    <input type="text" class="form-control" id="url-text" disabled></textarea>
  </div>

  <script type="text/javascript">
    var socket = io();

    function createRoom(room) {
      socket.json.emit('init', {
        'room': room
      });
    }

    $('#form-command').submit(function(){
      socket.emit('command', $('#command').val());
      $('#command').val('');
      return false;
    });

    $('#form-room').submit(function(){
      console.log('init submit')
      socket.emit('init', createRoom($('#init').val()));
      $('#init').val('');
      return false;
    });

    socket.on('command', function(msg){
      if (items.indexOf(msg) >= 0) {
        items.splice(items.indexOf(msg), 1);
      } else {
        //items = items.concat(msg.split(','));
        items.push(msg);
      }

      $('#roulette').html("<canvas id=\"canvas\" width=\"500\" height=\"500\"></canvas>");
      $('#canvas').rouletteWheel({
        items : items,
        selected : function(key, value){
          alert('SELECTED : ' + key + ' => ' + value);
        },
        spinText : 'Click Me',
      });

      output_url();
    });

    socket.on('room', function(msg){
      console.log(msg);
    });
  </script>

  <div id="roulette">
    <canvas id="canvas" width="500" height="500"></canvas>
  </div>
</body>
</html>
